.main {
  width: 100%;
  height: 100vh;
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin: 0;
  overflow: hidden;
}
.whiteBlock {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  opacity: 0.3;
  z-index: 1;
}
.blueBlock {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  background-color: var(--blue);
  clip-path: polygon(0% 0%, 30% 0%, 50% 100%, 0% 100%);
  z-index: 2;
}
.blockContainer {
  display: flex;
  flex-direction: column;
}
.upperBlock {
  position: absolute;
  right: 0;
  top: 28vh;
  z-index: 3;
}
.bottomBlock {
  width: 100%;
  position: absolute;
  left: 0;
  top: 65vh;
  z-index: 3;
}
.mailBlock {
  position: absolute;
  right: 4vw;
  top: 65vh;
  margin: 0 1vw;
  z-index: 3;
}
.darkLine {
  position: absolute;
  left: 0;
  top: 74vh;
  display: flex;
  justify-content: space-between;
  width: 99%;
  /* height: 15vh; */
  margin: 0;
  background-color: rgba(0, 0, 0, 0.822);
  z-index: 3;
}

.phonesBlock {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 5vw;
  margin-right: 19vw;
}
.phone {
  color: var(--seasalt);
  font-size: 4vw;
  line-height: 1.5;
  text-shadow: 2px 2px 2px var(--darkBlue);
}
.phone:hover {
  font-size: 4vw;
  color: var(--blue);
}
.iconPhone {
  color: var(--seasalt);
  font-size: 3vw;
  margin-right: 0.3vw;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.altNew {
  color: var(--white);
  text-align: center;
  font-size: 4.5vw;
  margin: 1vw 2vw;
}

.addressText {
  color: var(--seasalt);
  font-size: 2.2vw;
  line-height: 1.5;
  text-align: start;
  margin: auto 4vw;
  text-align: right;
  padding-right: 4vw;
  margin: auto 0;
}
.addressText:hover {
  font-size: 2.2vw;
  color: var(--blue);
}

.pofText {
  color: var(--seasalt);
  font-size: 3vw;
  margin-left: 4vw;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.mail {
  font-size: 3vw;
  color: var(--seasalt);
  text-shadow: 3px 3px 2px var(--darkBlue);
}
.mail:hover {
  text-shadow: 4px 4px 2px var(--seasalt);
}
.iconMail {
  color: var(--darkBlue);
  font-size: 2.5vw;
  margin-right: 0.5vw;
  margin-bottom: -0.5vw;
  filter: drop-shadow(2px 2px 2px var(--seasalt));
}
