.gallery{
  width: 80%;
  margin: 5vw auto;
  text-align: center;
}

.galleryHeaderText{
  text-align: center;
  font-size: 2vw;
  color: var(--blue);
  text-decoration: underline;
  margin-bottom: 2.5vw;
}
.imageContainer{
  display: flex;
  flex-direction: column;
}

.image{
  margin: auto;
  height: 70vh;
}

.ImageDescription{
  font-size: 2.5vh;
  color: var(--darkBlue);
  margin: 1vh;
}