@import url("https://fonts.googleapis.com/css2?family=Actor&family=Archivo+Black&display=swap");

.contactsMain {
  /* background-image: url("/bg32.jpg");
  filter: opacity(80%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  // justify-content: center;
  width: 100%;
  /* height: 100vh; */
  margin: 0;

  background-image: linear-gradient(
    0deg,
    hsl(0deg 0% 35%) 0%,
    hsl(0deg 0% 47%) 11%,
    hsl(0deg 0% 56%) 22%,
    hsl(0deg 0% 64%) 33%,
    hsl(0deg 0% 72%) 44%,
    hsl(0deg 0% 78%) 56%,
    hsl(0deg 0% 84%) 67%,
    hsl(0deg 0% 90%) 78%,
    hsl(0deg 0% 95%) 89%,
    hsl(0deg 0% 100%) 100%
  );
}

.contactsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px;

  @media screen and (min-width: 700px) {
    flex-direction: row;
    gap: 30px;
  }
  @media screen and (min-width: 1100px) {
    gap: 40px;
  }
  @media screen and (min-width: 1300px) {
    gap: 100px;
  }
}

.leftBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--darkBlue);
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
}

.title {
  text-align: center;
  font-size: 20px;
  color: var(--main-text-color);
  text-decoration: underline;
  margin-bottom: 10px;
  @media screen and (min-width: 700px) {
    font-size: 1.8rem;
  }
  @media screen and (min-width: 900px) {
    font-size: 2.4rem;
  }
}

.nameText {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  @media screen and (min-width: 700px) {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 900px) {
    font-size: 2rem;
    margin-bottom: 40px;
  }
}

.spanText {
  font-size: 1rem;
  margin-bottom: 6px;
  @media screen and (min-width: 900px) {
    font-size: 1.7rem;
  }
  @media screen and (min-width: 1100px) {
    margin-bottom: 0px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  gap: 4px;
  margin-bottom: 10px;
  @media screen and (min-width: 900px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1100px) {
    flex-direction: row;
  }
}
.item:last-child {
  margin-bottom: 30px;
}
.link {
  text-align: center;
  font-size: 1rem;
  @media screen and (min-width: 900px) {
    font-size: 1.5rem;
  }
}
.link:hover {
  color: var(--darkBlue);
  text-shadow: 2px 2px 2px rgba(121, 121, 121, 0.5);
}

.icon {
  font-size: 1rem;
  @media screen and (min-width: 900px) {
    font-size: 1.5rem;
  }
  @media screen and (min-width: 1100px) {
    font-size: 1.8rem;
    margin-right: 6px;
  }
}

.iconPhone {
  font-size: 1.5vw;
  margin-right: 0.3vw;
}
.iconMail {
  font-size: 1.5vw;
  margin-right: 0.5vw;
}

.rightBlock {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(30px);

  border-radius: 15px;
  @media screen and (min-width: 1200px) {
    width: clamp(200px, 80%, 500px);
  }
}
.form_title {
  text-align: center;
}

.contacts_form {
  width: 100%;
}

.form_control {
  margin-bottom: 1vw;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(194, 194, 194);
  background-color: transparent;
}

.contacts_input_div {
  margin-bottom: 20px;
}

.questionTextInput {
  margin-bottom: 4px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(194, 194, 194);
}

.contacts_info {
  color: var(--darkBlue);
  font-size: 0.6rem;
  margin: -1rem 0 1rem;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 0.8rem;
  }
}

.contacts_info_charLeft {
  color: var(--darkBlue);
  font-size: 0.6rem;
  margin-left: 12px;
}

.contacts_info_charLeft span {
  font-weight: 900;
}

.askText {
  font-family: "Actor", sans-serif;
  font-size: 2vw;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.recapcha {
  display: flex;
  justify-content: center;
  width: 220px;
  margin: 20px 0px;
  @media screen and (min-width: 360px) {
    width: 272px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
}
.requestButton {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  padding: 0.6rem 0.8rem;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
  font-size: 1.3rem;
  box-shadow: 1px 1px 4px rgba(223, 127, 127, 0.3);
}
.requestButton:hover {
  background-color: var(--darkBlue);
  color: var(--white);
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
}

.requestButtonOff {
  padding: 0.6rem 0.8rem;
  background-color: grey;
  color: var(--white);
  border-radius: 5px;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
  font-size: 1rem;
  box-shadow: 1px 1px 4px rgba(223, 127, 127, 0.3);
}

.map {
  width: 100%;
  height: 25vh;
  margin: 0 0 -1vh;
  border: none;
  filter: grayscale(100%);
  transition: filter 0.5s;
}
.map:hover {
  filter: grayscale(10%);
}
