@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
// .feedback_background {
// }
.feedbackHeader {
  // width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}

.feedbaccomment_ico {
  color: var(--darkBlue);
  margin: 0px 2px;
}

.feedback_header_text {
  display: flex;
  align-items: center;
  color: var(--darkBlue);
  font-size: 1.4rem;
  margin-bottom: 10px;
  @media screen and (min-width: 1000px) {
    font-size: 2.2rem;
  }
}

.reviewsContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.review_name {
  margin: 1rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Cormorant-Regular", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 1000px) {
    font-size: 1.5rem;
  }
}

.review_body {
  // width: 85%;
  margin: 20px auto 20px;
  font-size: 1rem;
  font-family: "Cormorant-Regular";
  text-indent: 1rem;
  text-align: justify;
  word-wrap: break-word;
  @media screen and (min-width: 1000px) {
    font-size: 1.3rem;
  }
}

.reviewButton {
  padding: 0.5rem 1rem;
  background-color: var(--blue);
  margin-top: 1rem;
  color: var(--white);
  border-radius: 5px;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
  font-size: 1rem;
  box-shadow: 1px 1px 4px rgba(223, 127, 127, 0.3);
}

.reviewButton:hover {
  background-color: var(--darkBlue);
  color: var(--white);
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
}
