.reviewsContainer {
  position: relative;
  width: calc(80vw - 20px);
  height: calc(60vh - 20px);
  display: flex;
  justify-content: center;
  background-color: var(--white);
  border-radius: var(--b-radius);
  z-index: 20;
  // @media screen and (min-width: 500px) {
  //   width: calc(80vw - 20px);
  //   height: calc(95vh - 20px);
  // }
  // @media screen and (min-width: 700px) {
  //   width: calc(95vw - 20px);
  //   height: calc(50vh - 20px);
  // }
  // @media screen and (min-width: 1000px) {
  //   width: calc(85vw - 20px);
  //   height: calc(60vh - 20px);
  // }
}
.btn_close {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 1rem;
  background: transparent;
  padding: 0.4rem;
}
.btn_close:hover {
  color: var(--red);
}

.reviewForm {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.inputName {
  width: 70%;
  font-size: 16px;
}
.rating_title {
  text-align: center;
  margin: 1rem 0 0.2rem;
}

.inputRating {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputReview {
  padding: 0.5rem;
  width: 100%;
  height: 15rem;
  margin: 1rem 0rem;
  text-align: start;
  resize: none;
}

.reviewButton {
  padding: 0.4rem 1rem;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
  font-size: calc(var(--index) * 0.6);
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.3);
}

.reviewButton:hover {
  background-color: var(--darkBlue);
  color: var(--white);
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
}

.reviewButton:active {
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.3);
}

@media screen and (min-width: 700px) {
  .reviewButton {
    padding: 0.6rem 1.3rem;
  }
  .rating_title {
    font-size: 1.2rem;
  }
  .btn_close {
    font-size: 1.3rem;
  }
}
